<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Рецепты</title>
</head>
<body>
    <h3>Our menu today:</h3>
    {% for dish in dishes %}
        <input type="button" value={{dish}} class="dish">
    {% endfor %}
</body>

<script>
    document.addEventListener("click", function(e) {
        if (e.target.className==="dish") {
            const persons = prompt('how much persons ? :', '1');
            if (persons === null) {
                return False;
            } else {
                url=`${window.location.href}${e.target.value}?servings=${persons}`;
                window.open(url, '_self');
            }
        }
    })
</script>
</html>
