{% extends "school/base.html" %}
{% load static %}

{% block title %}Список учеников{% endblock %}
{% block content %}
<div class="row">
  {% for item in object_list %}
    <div class="col-md-6">
      <p class="my-1 text-danger">{{ item.student.name }} {{ item.student.group }}</p>
      <p class="my-0 text-primary">Учителя:</p>
        {% for teacher in item.teachers.all %}
            <p class="my-0">{{ teacher.name }} - {{ teacher.subject }}</p>
        {% endfor %}
    </div>
  {% endfor %}
</div>
{% endblock %}
