{% extends "school/base.html" %}
{% load static %}

{% block title %}Список учеников{% endblock %}
{% block content %}
<div class="row">
  <ul>
  {% for item in object_list %}
  <li>
      <p class="my-1 text-danger">{{ item.student.name }} {{ item.student.group }}</p>
      <p class="my-0 text-primary">Учителя:</p>
        {% for teacher in item.teachers.all %}
            <p class="my-0">{{ teacher.name }} - {{ teacher.subject }}</p>
        {% endfor %}
  </li>
  {% endfor %}
  </ul>
</div>
{% endblock %}
